* {
    margin: 0;
    padding: 0;
    width: 100%;
}
h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

#date-time {
    color: #CEC8FF;
}

#header-logo {
    height: 10rem;
    width: 10rem;
}
.site-footer {
    background: linear-gradient(#96bbff, white);
    padding: 20px;
}

.jumbotron {
    width: 100%;
    margin: 0;
    padding: 30px;
    background: linear-gradient(to right, #5637DD, #3046C5, #1a8cce);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #271db1;
   
}

#db-navbar {
    background-color: #271db1;
    
    width: 100%;
    color: black;
}

#db-photo {
    
    padding: 2rem;
}
.content-right {
    text-align: right;
    align-content: flex-end;
}




