
h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

#date-time {
    color: #CEC8FF;
}

#header-logo {
    height: 10rem;
    width: 10rem;
}
.site-footer {
    background-image: linear-gradient(#96bbff, white);
    padding: 20px;
}

.jumbotron {
    width: 100%;
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #1a8cce);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #271db1;
   
}

#db-navbar {
    background-color: #271db1;
    overflow: visible; /* Solution for the Safari issue with navbar dropdown menu failing to show:
    Simply setting this overflow CSS property of the navbar to visible instead of hidden. */
    /* background-color: #333; */
    /* position: fixed; Safari issue with navbar dropdown menu failing to show up front:
    Issue: Only if position:sticky the dropdown menu works in Safari,
    but then the navbar stops working as desired, with showing/hiding dependent on scrolling. */
    /*top: 0;  Was -50px; in the example, but that's irrelevant for the Safari issue. */
    width: 100%;
    color: black;
}

#db-photo {
    
    padding: 2rem;
}

#db-intro {
    padding: 5rem;
    width: 100%;
}

.content-right {
    text-align: right;
    align-content: flex-end;
}
/* @media(min-width:320px) and (max-width:1024px){
.left2 {
    text-align: left !important;
}

.card__price {
    text-align: right !important;
}

.left2 {
    text-align: left !important;

}
} */

